<% if @game.player_1 && @game.player_2 %>
  <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
  <br/><br/>
  <%= @game.player_1.name %>: <%= @game.player_1.hit_points %> HP
  <br/>
  <%= @game.player_2.name %>: <%= @game.player_2.hit_points %> HP
  <br/><br/>
  <%= @game.current_player.name %>'s turn
  <br/><br/>
  <form action="/attack">
    <input type="submit" value="Attack">
  </form>
  <form action="/switch_turns" method="post">
    <input type="submit" value="Switch turns">
  </form>
<% end %>
